{% extends "forms/form_base.html" %}
{% load i18n %}

{% block title %}Afiliado{% endblock %}

{% block body %}
<body id="page5">
	<div class="body6">
		<div class="body1">
			<div class="main zerogrid">
				{% include 'header.html' %}
				<article id="content">
					<div class="wrap">
						<div class="box">
							<div>
								<h2 class="letter_spacing">Carga y modificacion de Afiliados</h2>
								{% block contenido-form %}
								<table class="table table-hover"  width="100%" border="0" cellspacing="0" cellpadding="4"> 
									<tbody>
										{% if form.errors %}
										<tr> 
											<td>
												<p class="error">Error...</p>
											</td>
											{{ error_html }}
										</tr> 
										{% endif %}

										{% csrf_token %}

										{% for f in form %}
											<tr>
											    <th>{{ f.label }}</th> 
											    {% if "fecha" in f.label %}
												<td>{{ f.errors }}</td>
												<td>
												    <div id="dp3" class="input-append date" data-date-format="yyyy-mm-dd">
													{{ f }}
												    </div>
												</td>
											    {% else %}
												<td>{{ f.errors }}</td>
												<td>{{ f }}</td>
											    {% endif %}
											</tr> 
										{% endfor %}
									</tbody>
								</table>
								<input  class="btn btn-inverse" id="" style="" type="submit" name="submit" value="Guardar" />
								{% endblock %}
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
	<div class="body2">
		<div class="main zerogrid">
			<article id="content2">
				<section>
					<div class="wrapper">
						<div class="col-1-3"><div class="wrap-col">
							<h2>Contactanos</h2>
							<div class="wrapper pad_bot1">
								<p>Sed ut perspiciatis unde omnis iunatus doloremque laudantium.</p>
								<p class="address">
									Marmora Road, Glasgow, D04 89GR.<br>
									<span>Freephone:</span>    +1 800 559 6580<br>
									<span>Telephone:</span>    +1 959 603 6035<br>
									<span>E-mail:</span>             <a href="mailto:">mail@demolink.org</a>
								</p>
							</div>
						</div></div>
						<div class="col-2-3"><div class="wrap-col mag-1">	
							<h2>Información de ayuda</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.
						</div></div>
					</div>
				</section>
			</article>
	<!-- / content -->
		</div>
	</div>
	<div class="body3">
		<div class="main zerogrid">
			{% include 'footer.html' %}
		</div>
	</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
{% endblock %}

