{% extends "base.html" %}


{% block content %}
<div id="content-main" >
	<div id="form_container">	    
		<form id="" class="" method="post" action="" onsubmit="" onclick="" >
			<fieldset>
				{% block titulo-form %}
					<td><b><font color="#000000" style="font-size: 13px;">ABM</font></b></td> 
				{% endblock %}

				{% block contenido-form %}
				{% endblock %}
			</fieldset>	
			<input id="saveForm" style="margin-left: 280px; width: 140px; background:orange;" class="button_text" type="submit" name="submit" value="Guardar" />
			<input type="button" value="Volver Atrás" name="Back2" onclick="history.back()" style="
			  margin-left: 10px;
			  width: 140px;
			  height: 22px;
			" />
		</form> 
	</div>	
</div>
{% endblock %}
