{% extends "listado_base.html" %}

{% block title %}Afiliado{% endblock %}

{% block body-article1%}
	<div class="wrap">
		<div class="box">
			<div>
				<h2 class="letter_spacing">{{titulo}}</h2>
				<h4 class="letter_spacing">Cantidad registrada {{cant}}</h4>
				<table class="table table-striped">
					<tr>
						<th>Apellido</th>
						<th>Nombre</th>
						<th>Documento</th>
						<th>Ciudad</th>
					</tr>
					{%for l in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
							<td>{{l.apellido}}</td>
							<td>{{l.nombre}}</td>
							<td>{{l.documento}}</td>
							<td>{{l.ciudad}}</td>
						</tr>
					{%endfor%}
				</table>
				{% include 'paginador.html' %}							
			</div>
		</div>
	</div>
{% endblock %}
