<footer>
	<div class="wrapper">
		<section class="col-2-3"><div class="wrap-col">
			<h3>LLamanos al: <span>0800-123-4567</span></h3>
			<a rel="nofollow" href="http://www.google.com/" target="_blank">Diseñado y mantenido</a> by <a rel="nofollow" href="http://www.facebook.com/" target="_blank">Silvio Geoffroy</a> | <a href="http://www.google.com">Google.com</a>
		</div></section>
		<section class="col-1-3"><div class="wrap-col">
			<h3>Seguinos En</h3>
			<ul id="icons">
				<li><a href="#" class="normaltip" title="Facebook"><img src="{{STATIC_URL}}images/icon1.gif" alt=""></a></li>
				<li><a href="#" class="normaltip" title="Linkedin"><img src="{{STATIC_URL}}images/icon2.gif" alt=""></a></li>
				<li><a href="#" class="normaltip" title="Twitter"><img src="{{STATIC_URL}}images/icon3.gif" alt=""></a></li>
				<li><a href="#" class="normaltip" title="Delicious"><img src="{{STATIC_URL}}images/icon4.gif" alt=""></a></li>
				<li><a href="#" class="normaltip" title="Technorati"><img src="{{STATIC_URL}}images/icon5.gif" alt=""></a></li>
			</ul>
		</div></section>
	</div>
</footer>