<header>
	<h1><a href="index.html" id="logo"><img src="{{STATIC_URL}}images/logo.png"/></a></h1>
	<nav>
		<ul id="top_nav">
			<li><a href=""><img src="{{STATIC_URL}}images/icon_1.gif" alt=""></a></li>
			<li><a href="#"><img src="{{STATIC_URL}}images/icon_2.gif" alt=""></a></li>
			<li class="end"><a href="contacts"><img src="{{STATIC_URL}}images/icon_3.gif" alt=""></a></li>
		</ul>
	</nav>
	<nav>
		<ul id="menu">
			<li class="active"><a href="index.html">Inicio</a></li>
			<li><a href="Cuisine.html">Opcion1</a></li>
			<li><a href="Wine.html">Opcion2</a></li>
			<li><a href="CookBook.html">Opcion3</a></li>
			<li><a href="Contacts.html">Contacto</a></li>
		</ul>
	</nav>
</header>